{% extends '@Diplom/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>
                <h1>Час розсилки {{ count }} повідомлень з {{ s }}: {{ time }} мс</h1>
                {#<span class="navbar-right">#}
                    {#<a href="javascript:void(0);" data-toggle="modal" data-target="#modal-add">#}
                        {#<i class="fa fa-plus"></i>#}
                    {#</a>#}
                {#</span>#}
            </h1>
        </div>
    </div>

    <div class="row">

    </div>
{% endblock %}